# https://easydoc.top/doc/53922796/goLvDOFl/XboBG1GD

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.github
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Editor directories and files
workspace.code-workspace